/* main styles*/

body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header*/

.header {
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
nav {
  display: flex;
  align-items: center;
}

.header-box {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 1158px;
  padding: 0 15px;
  display: flex;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-header {
  color: #2e2f42;
  margin-right: 76px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.address {
  font-style: normal;
  text-align: center;
}
.address-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.address-link {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/*Hero section*/

.hero {
  margin: auto;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
}

.hero-content {
  text-align: center;
  margin: auto;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.hero-button {
  border: 0;
  display: block;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-width: 0;
  min-width: 169px;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #404bbf;
}

/* Styles for sections */

.hidden-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding: 120px 0;
}
.section-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.section-header-item {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-icon {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-item {
  width: calc(((100%-72px) / 4));
}
.our-team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
}

.team-card {
  background-color: #fff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.our-team-list {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  flex-wrap: wrap;
}
.team-card-description {
  padding: 32px 0px;
}
.team-card-soc-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-soc-link-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-soc-icon {
  fill: #f4f4fd;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  box-shadow: none;
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-description {
  padding: 32px 16px;
}
.portfolio-item-box {
  position: relative;
  overflow: hidden;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-item-text,
.portfolio-list-item:focus .portfolio-item-text {
  transform: translateY(0);
}
.portfolio-border {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-position {
  display: flex;
  align-items: baseline;
}
.footer-info {
  width: 264px;
  margin-right: 120px;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.soc-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-soc-media {
  width: 208px;
  margin-right: 80px;
}
.footer-soc-links-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #f4f4fd;
}
.subscribe-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.subscribe-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-button {
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* Modal window */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  padding: 72px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  outline: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  border-style: none;
  background-color: #404bbf;
}
.button-close:hover .close-icon,
.button-close:focus .close-icon {
  fill: #ffffff;
}
.modal-topic {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  border-radius: 4px;
}
.modal-label-box {
  margin-bottom: 8px;
}
.modal-label-box-comment {
  margin-bottom: 16px;
}
.form-label {
  display: block;
  width: 100%;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-input {
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box {
  position: relative;
  margin-bottom: 8px;
}
.input-box {
  align-items: flex-start;
  justify-content: start;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .input-icon {
  fill: #4d5ae5;
}
.input-comment {
  min-height: 120px;
  padding: 8px 16px;
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  width: 100%;
  resize: none;
  outline: transparent;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment:focus {
  border-color: #4d5ae5;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
}
.form-terms-agree {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.privacy-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.terms-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.new-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden:checked + .privacy-policy .new-checkbox {
  background-color: #404bbf;
  border-style: none;
  fill: #f4f4fd;
}
